<!DOCTYPE html>
<html lang="en" ng-app="portfolioMgr">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Noah's Portfolios</title>
	<link rel="shortcut icon" href="img/favicon-16.png" sizes="16x16">
	<link rel="shortcut icon" href="img/favicon-32.png" sizes="32x32">
	<link rel="shortcut icon" href="img/favicon-48.png" sizes="48x48">
	<link rel="shortcut icon" href="img/favicon-64.png" sizes="64x64">
	<link rel="shortcut icon" href="img/favicon-128.png" sizes="128x128">

	<!-- Bootstrap Core CSS -->
	<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Theme CSS -->
	<link href="css/freelancer.min.css" rel="stylesheet">

	<!-- Custom Fonts -->
	<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<script src="vendor/angularjs/angular.min.js"></script>
	<script src="js/controller.js"></script>

</head>

<body id="page-top" class="index">

	<!-- Navigation -->
	<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand" href="#page-top">Noah Kim</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li class="hidden">
						<a href="#page-top"></a>
					</li>
					<li class="page-scroll">
						<a href="#about">About</a>
					</li>
					<li class="page-scroll">
						<a href="#experience">Experiences</a>
					</li>

				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<!-- Header -->
	<header>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!--<img class="img-responsive" src="img/profile.png" alt="">-->
					<gravatar email="dongwoo_333@hanmail.net" size="256px" class="img-circle"></gravatar>
					<div class="intro-text">
						<span class="name">Noah Kim</span>
						<hr class="star-light">
						<span class="skills">A Job Seeker</span>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- About Section -->
	<section id="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2>About</h2>
					<hr class="star-primary">
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-lg-offset-2">
					<p>An outgoing person who can learn fast behind working experiences in various industries.<br>a go-ahead person who is always learning something.<br>A working holiday visa holder.</p>
					<p>I think the most important value is trust between people. So, I would like to keep promises and be responsible.</p>
				</div>
				<div class="col-lg-4">
					<p></p>
				</div>
				<!--<div class="col-lg-8 col-lg-offset-2 text-center">-->
					<!--<a href="#" class="btn btn-lg btn-outline">-->
						<!--<i class="fa fa-download"></i> Download Theme-->
					<!--</a>-->
				<!--</div>-->
			</div>
		</div>
	</section>

	<!-- Experience Grid Section -->
	<section class="success" id="experience">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2>Job Experiences</h2>
					<hr class="star-light">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 list-group">
					<a href="#experience" class="list-group-item">
						<h4 class="list-group-item-heading">worker at the crocodile farm</h4>
						<p class="list-group-item-text">Darwin, Australia / <time>Mar, 2016 ~ June, 2016</time></p>
					</a>
				</div>
				<div class="col-sm-6 list-group">
					<a href="#experience" class="list-group-item">
						<h4 class="list-group-item-heading">web programmer</h4>
						<p class="list-group-item-text">Seoul&Busan, Korea / <time>Oct, 2011 ~ July, 2015</time></p>
					</a>
				</div>
				<div class="col-sm-6 list-group">
					<a href="#experience" class="list-group-item">
						<h4 class="list-group-item-heading">manager/driver in construction office</h4>
						<p class="list-group-item-text">Busan, Korea / <time>July, 2010 ~ Feb, 2011</time></p>
					</a>
				</div>
				<div class="col-sm-6 list-group">
					<a href="#experience" class="list-group-item">
						<h4 class="list-group-item-heading">labor at construction sites</h4>
						<p class="list-group-item-text">Busan, Korea / <time>Mar, 2010 ~ June, 2010</time></p>
					</a>
				</div>
				<div class="col-sm-6 list-group">
					<a href="#experience" class="list-group-item">
						<h4 class="list-group-item-heading">manager at an Internet Cafe</h4>
						<p class="list-group-item-text">Jinju, Korea / <time>Oct, 2009 ~ Feb, 2010</time></p>
					</a>
				</div>
				<div class="col-sm-6 list-group">
					<a href="#experience" class="list-group-item">
						<h4 class="list-group-item-heading">Barista at a Cafe</h4>
						<p class="list-group-item-text">Jinju, Korea / <time>Sep, 2007 ~ Aug, 2009</time></p>
					</a>
				</div>
				<div class="col-sm-6 list-group">
					<a href="#experience" class="list-group-item">
						<h4 class="list-group-item-heading">computer repairing at the University</h4>
						<p class="list-group-item-text">Jinju, Korea / <time>Nov, 2007 ~ Dec, 2008</time></p>
					</a>
				</div>
				<div class="col-sm-6 list-group">
					<a href="#experience" class="list-group-item">
						<h4 class="list-group-item-heading">Scooter Driver at the noodle shop</h4>
						<p class="list-group-item-text">Busan, Korea / <time>July, 2007 ~ Aug, 2007</time></p>
					</a>
				</div>
				<div class="col-sm-6 list-group">
					<a href="#experience" class="list-group-item">
						<h4 class="list-group-item-heading">credit card seller</h4>
						<p class="list-group-item-text">Busan, Korea / <time>July, 2007 ~ Aug, 2007</time></p>
					</a>
				</div>
				<div class="col-sm-6 list-group">
					<a href="#experience" class="list-group-item">
						<h4 class="list-group-item-heading">Military Service</h4>
						<p class="list-group-item-text">Korea / <time>July, 2005 ~ June, 2007</time></p>
					</a>
				</div>
				<div class="col-sm-6 list-group">
					<a href="#experience" class="list-group-item">
						<h4 class="list-group-item-heading">worker at a fastfood store</h4>
						<p class="list-group-item-text">Jinju, Korea / <time>Oct, 2004 ~ Dec, 2004</time></p>
					</a>
				</div>
				<div class="col-sm-6 list-group">
					<a href="#experience" class="list-group-item">
						<h4 class="list-group-item-heading">Assistant at a vegetable truck</h4>
						<p class="list-group-item-text">Namhae, Korea / <time>July, 2004 ~ Aug, 2004</time></p>
					</a>
				</div>
				<div class="col-sm-6 list-group">
					<a href="#experience" class="list-group-item">
						<h4 class="list-group-item-heading">Assistant at the advertisement store</h4>
						<p class="list-group-item-text">Namhae, Korea / <time>Dec, 2003 ~ Feb, 2004</time></p>
					</a>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer id="footer" class="text-center">
		<div class="footer-above">
			<div class="container">
				<div class="row">
					<div class="footer-col col-md-4">
						<h3>Location</h3>
						<p>Melbourne CBD, VIC 3000</p>
					</div>
					<div class="footer-col col-md-4">
						<h3>Phone Number</h3>
						<p>+61 411 227 329</p>
					</div>
					<div class="footer-col col-md-4">
						<h3>E-Mail</h3>
						<p>dongwoo_333@hanmail.net</p>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-below">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						Copyright &copy; NOAH KIM 2016
					</div>
				</div>
			</div>
		</div>
	</footer>

	<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
	<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
		<a class="btn btn-primary" href="#page-top">
			<i class="fa fa-chevron-up"></i>
		</a>
	</div>

	<!-- jQuery -->
	<script src="vendor/jquery/jquery.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

	<!-- Plugin JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

	<!-- Contact Form JavaScript -->
	<script src="js/jqBootstrapValidation.js"></script>
	<script src="js/contact_me.js"></script>

	<!-- Theme JavaScript -->
	<script src="js/freelancer.min.js"></script>

</body>

</html>
